<footer class="footer ">
 
    
</footer>
<!-- build:js -->
<script src="{{root}}assets/vendor/jquery/jquery.js"></script>
<script src="{{root}}assets/vendor/popper/popper.min.js"></script>
<script src="{{root}}assets/vendor/bootstrap5/bootstrap.min.js"></script>
<script src="{{root}}assets/js/util/autoPadding.js"></script>
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/js/main.js"></script>
<script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<!-- endbuild -->
