<div class="mainMenu p-0">
    <a href="#">
        <img class="img-fluid mainMenu-Logo" src="../assets/img/logo-secondary-color.svg" alt="">
    </a>
    <div class="mainMenu-Content">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">{icon} User List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{icon} Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{icon} Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{icon} Log Out</a>
            </li>

        </ul>
    </div>
</div>